* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

html, button {
  font-family: "Roboto";
}

body, button {
  font-size: 1rem;
}

h1, h2 {
  font-size: x-large;
}

h3, li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

body {
  margin: 0 auto;
  background: #f7f7f7;
  text-align: center;
}

.btn {
  padding: 1rem;
  background: linear-gradient(0deg, #9256dc -5.2%, #FF79DA 110.74%);
  font-weight: 500;
  color: #FFFFFF;
  border-radius: 2rem;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.btn:hover {
  background: linear-gradient(0deg, hsl(267deg, 66%, 65%) -5.2%, hsl(317deg, 100%, 79%) 110.74%);
}

.disabled {
  display: none;
}

.header__logo {
  font-family: "Shrikhand";
  font-size: 2rem;
  padding: 1rem 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header__location {
  background: #ebebeb;
  padding: 1rem 0;
  color: #363636;
  font-weight: 500;
  position: relative;
  z-index: -1;
}

h2 {
  text-align: left;
  margin-bottom: 1.5rem;
}

.explore {
  padding: 2rem;
}
.explore p {
  margin: 1.5rem 0;
  font-size: large;
  font-weight: lighter;
}

.process {
  padding: 3rem 1rem;
  background: #FFFFFF;
}
.process__steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}
.process-steps__step {
  position: relative;
  display: flex;
  align-items: center;
  width: 95%;
  background: #f7f7f7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 1.5rem;
  padding: 2rem;
}
.process-steps__step .number {
  position: absolute;
  padding: 0.5rem;
  background: #9256dc;
  color: #FFFFFF;
  border-radius: 50%;
  line-height: 0.5;
  aspect-ratio: 1/1;
  left: -1rem;
}
.process-steps__step .text {
  display: flex;
}
.process-steps__step .text svg {
  margin-right: 1.5rem;
  fill: hsl(0deg, 0%, 50%);
  overflow: visible;
}
.process-steps__step:hover {
  background: #f4ebff;
}
.process-steps__step:hover .text svg {
  fill: #9256dc;
}

.restaurants {
  padding: 3rem 1rem;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.restaurants-cards__card {
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  overflow: hidden;
}
.restaurants-cards__card .badge-new {
  position: absolute;
  right: 2rem;
  margin-top: 1rem;
  background: #98e2cf;
  color: #008563;
  padding: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
.restaurants-cards__card img {
  width: 100%;
  max-height: 225px;
  object-fit: cover;
}
.restaurants-cards__card .infos {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
.restaurants-cards__card .infos__name {
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.restaurants-cards__card .infos__name span {
  font-weight: lighter;
}
.restaurants-cards__card svg {
  stroke: #363636;
  stroke-width: 2px;
  overflow: visible;
}
.restaurants-cards__card svg:hover {
  fill: url(#icon-gradient);
  stroke: none;
}

.footer {
  padding: 1.5rem;
  background: #363636;
  text-align: left;
  color: #FFFFFF;
}
.footer__logo {
  font-family: "Shrikhand";
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.footer li {
  line-height: 1.5rem;
}
.footer a {
  display: flex;
  align-items: center;
}
.footer svg {
  margin-right: 0.5rem;
  fill: #FFFFFF;
  overflow: visible;
}

/*# sourceMappingURL=style.css.map */
