@import "./utils/variables";
@import "./utils/mixins";
@import "./base/reset";
@import "./base/typography";
@import "./components/loader";
@import "./layout/global";
@import "./components/header";
@import "./components/button";

//Global
.disabled{
    display: none;
}
.header{
    position: relative;
    &__arrow{
        position: absolute;
        top: 2rem;
        left: 2rem;
    }
    &__logo{
        font-family: 'Shrikhand';
        font-size: 2rem;
        padding: 1rem 0;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    }
    &__location{
        background: $light-grey;
        padding: 1rem 0;
        color: $dark-grey;
        font-weight: $bold;
        position: relative;
        z-index: -1;
    }
}
h2{
    text-align: left;
    margin-bottom: 1.5rem;
    max-width: 537px;
    width: 100%;
    @include format(tablet){
        width: 70vw;
        max-width: initial;
    }
}
.footer{
    padding: 1.5rem;
    background: $dark-grey;
    text-align: left;
    color: $white;
    &__logo{
        font-family: 'Shrikhand';
        font-size: 1.2rem;
        margin-bottom: 1rem;
        @include format(tablet){
            margin: 0;
        }
    }
    li{
        line-height: 1.5rem;
    }
    a{
        display: flex;
        align-items: center;
    }
    svg{
        margin-right: .5rem;
        fill: $white;
        overflow: visible;
    }
    @include format(tablet){
        display: flex;
        flex-direction: row-reverse;
        padding: 3rem 6rem;
        column-gap: 4rem;
        ul{
            display: flex;
            column-gap: 3rem;
        }
    }
}

//Page d'accueil
.explore{
    background: $ultra-light-grey;
    padding: 2rem;
    p{
        margin: 1.5rem 0;
        font-size: large;
        font-weight: lighter;
    }
}
.process{
    padding: 3rem 1rem;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.process-steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    max-width: 33.5rem;
    width: 100%;
    &__step{
        position: relative;
        display: flex;
        align-items: center;
        width: 95%;
        background: $ultra-light-grey;
        box-shadow: $card-shadow;
        border-radius: 1.5rem;
        padding: 2rem;
        transition: fill 300ms;
        .number{
            width: 1.5rem;
            line-height: 1.5rem;
            aspect-ratio: 1/1;
            text-align: center;
            background: #9256dc;
            color: #FFFFFF;
            border-radius: 50%;
            position: absolute;
            left: -1rem;
        }
        .text{
            display: flex;
            align-items: center;
            svg{
                margin-right: 1.5rem;
                fill: $grey;
                overflow: visible;
                transition: fill 400ms ease-in-out;
            }
        }
        &:last-child{
            background: $color-primary-light;
            .text{
                svg{
                    fill: $color-primary;
                }
            }
        }
        @include format(desktop){
            width: 30%;
        }
    }
    @include format(tablet){
        width: 70vw;
        max-width: initial;
    }
    @include format(desktop){
        flex-flow: row;
        justify-content: space-between;
        left: 1rem;
        position: relative;
    }
}
.restaurants{
    background: $ultra-light-grey;
    padding: 3rem 1rem;
    @include format(tablet){
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: scroll;
        h2{
            position: absolute;
            margin: 0;
        }
    }
}
.restaurants-cards{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    &__card{
        position:relative;
        background: $white;
        box-shadow: $card-shadow;
        border-radius: 1rem;
        overflow: hidden;
        transition: box-shadow 300ms;
        .badge-new{
            position: absolute;
            right: 2rem;
            margin-top: 1rem;
            background: #98e2cf;
            color: #008563;
            padding: 0.5rem;
            box-shadow: 0px 2px 4px rgb(0 0 0 / 15%);
            border-radius: .2rem;
        }
        img{
            width: 100%;
            aspect-ratio: 335/175;
            object-fit: cover;
        }
        .infos{
            display: flex;
            padding: 1rem 3rem 1rem 1rem;
            justify-content: space-between;
            align-items: flex-start;
            &__name{
                text-align: left;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                span{
                    font-weight: lighter;
                }
            }
        }
        &:hover{
            box-shadow: $card-shadow-darker;
        }
        @include format(tablet){
            min-width: 22vw;
        }
    }
    @include format(tablet){
        flex-flow: row;
        width: 70vw;
        column-gap: 2rem;
        margin-top: 3rem;
    }
}

//Page Restaurant

.hero-image{
    width: 100%;
    aspect-ratio: 375/275;
    object-fit: cover;
    max-height: 430px;
    margin-bottom: -3rem;
    z-index: -1;
    position: relative;
}
.menu{
    background-color: $ultra-light-grey;
    border-radius: 2rem 2rem 0 0;
    width: 100%;
    padding: 2rem 1rem 0;
    max-width: 1050px;
    margin: 0 auto;
    &__restaurant-name{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 650px;
        margin: 0 auto;
        h2{
            font-family: "Shrikhand";
            font-size: 1.8rem;
            margin: 0;
        }
        .like{
            right: auto;
            bottom: auto;
            position: inherit;
        }
    }
    &__subsection{
        margin: 2.5rem auto 0;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        max-width: 650px;
        opacity: 0;
        animation: fade-in 1s ease .5s forwards;
        >h3{
            text-transform: uppercase;
            text-align: left;
            font-size: 1rem;
            font-weight: lighter;
            color: $grey;
            background-image: linear-gradient(0deg, $color-tertiary, $color-tertiary);
            background-position: bottom left;
            background-size: 12% 0.2rem;
            background-repeat: no-repeat;
            padding-bottom: 0.5rem;
        }
        &:nth-of-type(3){
            animation: fade-in 1s ease 2s forwards;
        }
        &:nth-of-type(4){
            animation: fade-in 1s ease 3s forwards;
        }
    }
}
.subsection-element{
    display: flex;
    justify-content: space-between;
    background-color: $white;
    border-radius: 1rem;
    box-shadow: $card-shadow;
    transition: box-shadow 1s;
    overflow: hidden;
    .infos{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0.9rem;
        flex-grow: 1;
        width: 80%;
    }
    h3{
        text-align: left;
        font-size: 1.1rem;
        font-weight: 500;
    }
    span{
        font-weight: lighter;
        font-size: 1rem;
    }
    .checked {
        background: $color-tertiary;
        color: $white;
        display: flex;
        flex: 0;
        position: relative;
        align-items: center;
        justify-content: center;
        transform-origin: right;
        width: 20%;
        min-width: 0;
        transition: all .5s ease-in-out .2s;
        max-width: 3.7rem;
    }
    &:hover{
        box-shadow: $card-shadow-darker;
        .checked{
            flex-grow: 2;
            flex-basis: 20%;
        }
    }
}
