//Explore button
.btn{
    padding: 1rem;
    background: $gradient-prim-seco;
    font-weight: $bold;
    color: $white;
    border-radius: 2rem; 
    border: none;
    box-shadow: $button-shadow;
    filter: brightness(1);
    transition: all 400ms ease-in-out;
    &:hover{
        filter: brightness(1.05);
        box-shadow: $button-shadow-darker;
    }
}
//Like Button
@keyframes grow-and-shrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}
.like{
    width: 24px;
    height: 24px;
    position: absolute;
    transform-origin: center;
    right: 1rem;
    bottom: 2rem;
    display: flex;
    .like-icon{
        overflow: visible;
        position: absolute;
        &.front{
            fill: $white;
            opacity: 1;
            transition: all 400ms ease-in-out;
            stroke: black;
            stroke-width: .15rem;
            z-index: 1;
            &:hover{
                opacity: 0;
            }
        }
        &.back{
            fill: url(#icon-gradient);
            stroke: url(#icon-gradient);
            stroke-width: .15rem;
        }
    }
    &:hover{
        animation: grow-and-shrink 300ms 200ms;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-direction: alternate;
    }
}