.header{
    position: relative;
    &__arrow{
        position: absolute;
        top: 2rem;
        left: 2rem;
    }
    &__logo{
        font-family: 'Shrikhand';
        font-size: 2rem;
        padding: 1rem 0;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        position: relative;
        z-index: 2;
    }
    &__location{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 1rem;
        background: $light-grey;
        padding: 1rem 0;
        color: $dark-grey;
        font-weight: $bold;
    }
}