//Font families
html, button{
    font-family: 'Roboto';
}
//Font sizes
body, button{
    font-size: 1rem
}
h1, h2{
    font-size: x-large;
}
//Font weights
//Overflow
h3,li{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


