$color-primary:#9256dc;
$color-primary-light:adjust-color($color-primary, $saturation: 34%, $lightness: 36%);
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$white:#FFFFFF;
$grey:hsl(0, 0%, 50%);
$light-grey:lighten($grey, 42%);
$dark-grey:darken($grey, 29%);
$color-background:lighten($grey, 47%);